.maBackground {
    width: 85vh;
	height: 85vh;
	margin-left: auto;
	margin-right: auto;
	background-color: #15141d;
	padding: 3vh;

	border-radius: 3vh;
}

.maBtnHolder {
	width: 12.5%;
	height: 12.5%;

	float: left;
}

.maNormalBtn {
	height: 85%;
	width: 85%;
	margin: 7.5%;

	padding: 6%;

	background-color: #505050;

	border-radius: 10%;
	border: none;
	outline: 0;
}

.maNormalBtnDL {
	border-radius: 10% 40% 10% 10%;
}
.maNormalBtnDR {
	border-radius: 40% 10% 10% 10%;
}
.maNormalBtnTL {
	border-radius: 10% 10% 40% 10%;
}
.maNormalBtnTR {
	border-radius: 10% 10% 10% 40%;
}

.maNormalBtnPhantom {
	height: 100%;
	width: 100%;
	background-color: #14131b;
	border-radius: 12%;
}

.maNormalBtnPhantom#DL {
	border-radius: 12% 45% 12% 12%;
}

.maNormalBtnPhantom#DR {
	border-radius: 45% 12% 12% 12%;
}

.maNormalBtnPhantom#TR {
	border-radius: 12% 12% 12% 45%;
}

.maNormalBtnPhantom#TL {
	border-radius: 12% 12% 45% 12%;
}